<header class="header">
    <div class="container">
        <div class="header__inner" data-aos="fade-top" data-aos-duration="2000">
            <a class="header__logo logo" href="index.html">
                <img class="logo__img" src="images/logo.png" alt="logotype">
            </a>
            <div class="header__btn">

            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__list-item"><a class="header__link" href="#">Главная</a></li>
                    <li class="header__list-item"><a class="header__link" href="#services">Услуги</a></li>
                    <li class="header__list-item"><a class="header__link" href="#projects">Проекты</a></li>
                    <li class="header__list-item"><a class="header__link" href="#about">О нас</a></li>
                    <li class="header__list-item"><a class="header__link" href="#news">Новости</a></li>
                    <li class="header__list-item"><a class="header__link" href="#prices">Цены</a></li>
                    <li class="header__list-item"><a class="header__link" href="#products">Товары</a></li>
                    <li class="header__list-item"><a class="header__link" href="#contact">Связь</a></li>
                    <li class="header__list-item"><button class="header__btn-cart"></button></li>
                    <li class="header__list-item"><button class="header__btn-search"></button></li>
                </ul>
            </nav>
        </div>
    </div>
    <form class="header__search">
        <input class="header__input" type="search" placeholder="Искать...">
        <button class="header__btn-close"> </button>
    </form>
</header>